{% load i18n %}
<html lang="en">
    <head>
        <title>{% trans "Complete order" %}</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
    {% for order_item in order_items %}
        <h1>{{ order_item.item.name }}</h1>
        <p>{{ order_item.item.description }}</p>
        <p>Price: {{ order_item.item.price }}</p>
        <p>Amount: {{ order_item.amount }}</p>
        <hr>
    {% endfor %}
        <button id="buy-button">{% trans "Buy" %}</button>
        <script type="text/javascript">
            const stripe = Stripe('pk_test_51M72JYKFmUO12vxi1iS5aqiVLQ7B1O4P8U3EKuOW1WMxNuvw2CNazIjIdJSjJx3Z931LLOl8TVLX52vtVKHeLslh00HdVhpIwK');
            const buyButton = document.getElementById('buy-button');
            buyButton.addEventListener('click', function() {
                fetch('/buy-order/{{ order_id }}', {method: 'GET'})
                    .then(response => response.json())
                    .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
            });
        </script>
    </body>
</html>
